@font-face {
  font-family: "iconfont"; /* Project id 4162555 */
  src: url('iconfont.woff2') format('woff2'),
       url('iconfont.woff') format('woff'),
       url('iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow2:before {
  content: "\e605";
}

.icon-facebook1:before {
  content: "\ebfc";
}

.icon-right_arrow1:before {
  content: "\e63f";
}

.icon-feiquanping:before {
  content: "\e609";
}

.icon-close:before {
  content: "\e639";
}

.icon-dizhi:before {
  content: "\e665";
}

.icon-jt:before {
  content: "\e634";
}

.icon-youxiang:before {
  content: "\e7b0";
}

.icon-cart:before {
  content: "\e603";
}

.icon-ytb2:before {
  content: "\e7db";
}

.icon-ytb3:before {
  content: "\e606";
}

.icon-twitter:before {
  content: "\e882";
}

.icon-facebook2:before {
  content: "\e646";
}

.icon-daibanshixiang:before {
  content: "\e689";
}

.icon-xiangmu:before {
  content: "\e651";
}

.icon-hezuo:before {
  content: "\e614";
}

.icon-fahangshang:before {
  content: "\e6b3";
}

.icon-shuzicangpin:before {
  content: "\e683";
}

.icon-IP:before {
  content: "\e66a";
}

.icon-shangsheng:before {
  content: "\e64e";
}

.icon-kuajingshuju:before {
  content: "\e6a2";
}

.icon-leftArrow2:before {
  content: "\edcd";
}

.icon-topArrow:before {
  content: "\e65d";
}

.icon-dropArrow:before {
  content: "\e65e";
}

.icon-rightArrow:before {
  content: "\e65f";
}

.icon-leftArrow:before {
  content: "\e660";
}

.icon-email:before {
  content: "\e60a";
}

.icon-rightArrow3:before {
  content: "\eb0b";
}

.icon-youtobe:before {
  content: "\e626";
}

.icon-touxiang:before {
  content: "\e64b";
}

.icon-riqi:before {
  content: "\e63e";
}

.icon-riqi1:before {
  content: "\eb8a";
}

.icon-dianhua1:before {
  content: "\e6ed";
}

.icon-yanjing:before {
  content: "\e629";
}

.icon-zhengshu:before {
  content: "\e602";
}

.icon-zhengshu1:before {
  content: "\e60e";
}

.icon-zuojiantou:before {
  content: "\e607";
}

.icon-zuojiantou1:before {
  content: "\e681";
}

.icon-shangjiantou:before {
  content: "\e79d";
}

.icon-you:before {
  content: "\e604";
}

.icon-youtube2:before {
  content: "\e880";
}

.icon-ins:before {
  content: "\e640";
}

.icon-facebook:before {
  content: "\eab7";
}

.icon-linkdin:before {
  content: "\e600";
}

.icon-dianhua:before {
  content: "\e842";
}

.icon-douyin:before {
  content: "\e601";
}

