
*{ box-sizing: border-box; }
body { font-size:12px;margin:0 auto;max-width: 1920px;}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre,fieldset, lengend, button, input, textarea,th, td { margin: 0; padding: 0; }
ol,ul,li{list-style: none;}
address, caption, cite, code, dfn, em, th, var, i { font-weight: normal; font-style: normal; }
a { text-decoration:none; color:#333; }
img{ border:0;  vertical-align: middle; }
select,input,textarea{ border: 0; font-family:Arial; outline:none;resize:none;}
h1, h2, h3, h4, h5, h6{ font-weight: normal; font-size: 100%; }
div, dl, dt, dd, ol, ul, li { zoom: 1; }
caption, th { text-align: left; }
q:before, q:after { content: ''; }
abbr, acronym { border: 0; }
a:hover{text-decoration:none;}
input, textarea { box-sizing: border-box; }
button,input[type="button"],input[type="submit"] { cursor: pointer;resize:none;outline:0; }

body { width:100%;margin:0 auto; }
img {
	max-width: 100%;
}
/*合并表格边框，设置边框距为零*/
table{ border-collapse: collapse; border-spacing: 0; }

/*清除浮动*/
.clearfix {+height:1%;}
.clearfix:after { content: "."; display: block; height: 0; font-size: 0; clear: both; visibility: hidden;}


/*强制换行   禁止换行*/
.break_word{ word-wrap:break-word; word-break:break-all;}
.keep_all{ word-break:keep-all; white-space:nowrap; }

/*超出省略号，仅限单行，并且需要设定一个宽度*/
.ellipsis { overflow: hidden;  text-overflow: ellipsis;  display: block; white-space: nowrap; }
.ellipsis_2 { overflow: hidden;  text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.ellipsis_3 { overflow: hidden;  text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;}
.ellipsis_4 { overflow: hidden;  text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 4;-webkit-box-orient: vertical;}
.ellipsis_5 { overflow: hidden;  text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 5;-webkit-box-orient: vertical;}
.ellipsis_6 { overflow: hidden;  text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 6;-webkit-box-orient: vertical;}
.ellipsis_7 { overflow: hidden;  text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 7;-webkit-box-orient: vertical;}
.ellipsis_8 { overflow: hidden;  text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 8;-webkit-box-orient: vertical;}
.ellipsis_9 { overflow: hidden;  text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 9;-webkit-box-orient: vertical;}
.ellipsis_10 { overflow: hidden;  text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 10;-webkit-box-orient: vertical;}

.wrap{ width: 1600px; margin: 0 auto; }
.wrap_1410 { width: 1410px; margin: 0 auto; }
.wrap_1500 { width: 1500px; margin: 0 auto; }
.wrap_1600 { width: 1600px; margin: 0 auto; }
.btn {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 54px;
  line-height: 58px;
  border:0;
  font-size: 24px;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.4s;
  overflow: hidden;
  background: #001EA0;
}
.btn span {
  position: relative;
  z-index: 99;
}
.btn:hover {
  transform: translate(0,-10px);
}


.btn2 {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 54px;
  line-height: 56px;
  border:0;
  font-size: 24px;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.4s;
  overflow: hidden;
  background: #001EA0;
}
.btn2 em {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 14px;
  background-image: url(../images/arrow_icon1.png);
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: -6px;
  transition: all  0.4s;
}
.btn2 span {
  position: relative;
  z-index: 99;
}



.btn3 {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 54px;
  line-height: 58px;
  border:0;
  font-size: 24px;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.4s;
  overflow: hidden;
  background: #001EA0;
}
.btn3 em {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 14px;
  background-image: url(../images/arrow_icon1.png);
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: -6px;
  transition: all  0.4s;
}
.btn3 span {
  position: relative;
  z-index: 99;
}
.btn3:hover:after {
  width: 100%;
}
.btn3 span {
  position: relative;
  z-index: 99;
}
.btn3:after {
  content: "";
  position: absolute;
  z-index: 9;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #001EA0;
  transition: all 0.4s;
}
/*  边距   */
.mt5{ margin-top: 5px;}
.mt6 { margin-top:6px; }
.mt15{ margin-top: 15px;}
.mt10{ margin-top: 10px;}
.mt18{ margin-top: 10px;}
.mt20{ margin-top: 20px;}
.mt26{ margin-top: 26px;}
.mt28{ margin-top: 28px;}
.mt32{ margin-top: 32px;}
.mt35{ margin-top: 35px;}
.mt38{ margin-top: 38px;}
.mt42{ margin-top: 42px;}
.mt45{ margin-top: 45px;}
.mt50{ margin-top: 50px;}
.mt56{ margin-top: 56px;}
.mt60{ margin-top: 60px;}
.mt68{ margin-top: 68px;}
.mt87 { margin-top: 87px;}
.ml5{ margin-left: 5px;}
.ml10{ margin-left: 10px;}
.ml20{ margin-left: 20px;}
.ml50{ margin-left: 50px;}
.mr8 { margin-right: 8px }
.mr10{ margin-right: 10px }
.mr11{ margin-right: 11px }
.mr16{ margin-right: 16px }
.mr20{ margin-right: 20px }
.mr30{ margin-right: 30px }
.mr45{ margin-right: 45px }
.mr48{ margin-right: 48px }
.mr50{ margin-right: 50px }
.mr62{ margin-right: 62px }
.mb8{ margin-bottom: 8px;}
.mb10{ margin-bottom: 10px;}
.mb12{ margin-bottom: 12px;}
.mb16{ margin-bottom: 16px;}
.mb20{ margin-bottom: 20px;}
.mb22{ margin-bottom: 22px;}
.mb28{ margin-bottom: 28px;}
.mb30{ margin-bottom: 30px;}
.mb35{ margin-bottom: 35px;}
.mb36 { margin-bottom: 36px;}
.mb40 { margin-bottom: 40px; }
.mb45 { margin-bottom: 45px; }
.mb50 { margin-bottom: 50px;}
.mb54 { margin-bottom: 54px;}
.mb55 { margin-bottom: 55px;}
.mb59 { margin-bottom: 59px;}
.mb60 { margin-bottom: 60px;}
.mb65 { margin-bottom: 65px;}
.mb70 { margin-bottom: 70px;}
.mb80 { margin-bottom: 80px;}
.mb84 { margin-bottom: 84px;}
.mb95 { margin-bottom: 95px;}
.mb120{ margin-bottom: 120px;}
.mb150{ margin-bottom: 150px;}
.mg60 { margin:60px 0; }


/******    字体大小     *******/
.f14{ font-size: 14px;}
.f16{ font-size: 16px;}
.f18{ font-size: 18px;}
.f20{ font-size: 20px;}
.f24{ font-size: 24px;}


/******* 状态 ******/
.fl { float: left; }
.fr { float: right; }
.p_relative { position: relative; }
.p_absolute { position: absolute; }
.none { display:none; }
.hidden{ overflow:hidden }
.vertical_middle{ display:inline-block; *zoom:1; *display:inline;vertical-align:middle;}
.vertical_top { display:inline-block; *display:inline; zoom:1; vertical-align: top; }
.text_left { text-align:left; }
.text_center { text-align: center;}
.text_right{ text-align: right;}

.mask { 
  position: fixed;  
  z-index: 2000; 
  top: 0;  left: 0; 
  width: 100%; 
  height: 100%; 
  background: rgba(0, 0, 0, 0.6);  
}

/******    样式   *******/
.opacity_0 { opacity: 0; filter: alpha(opacity=0); -moz-opacity: 0; -webkit-opacity: 0; -o-opacity: 0; -khtml-opacity: 0; }
.opacity_6 { opacity: 0.6; filter: alpha(opacity=60); -moz-opacity: 0.6; -webkit-opacity: 0.6; -o-opacity: 0.6; -khtml-opacity: 0.6; }
.opacity_7 { opacity: 0.7; filter: alpha(opacity=70); -moz-opacity: 0.7; -webkit-opacity: 0.7; -o-opacity: 0.7; -khtml-opacity: 0.7; }
.place_000::-webkit-input-placeholder{ color:#000; }
.place_000::-moz-placeholder  { color:#000;	}
.place_000:-moz-placeholder { color:#000; }
.place_000:-ms-placeholder { color:#000; }

.place_666::-webkit-input-placeholder{ color:#666; }
.place_666::-moz-placeholder  { color:#666;	}
.place_666:-moz-placeholder { color:#666; }
.place_666:-ms-placeholder { color:#666; }

.place_B3B3B3::-webkit-input-placeholder{ color:#B3B3B3; }
.place_B3B3B3::-moz-placeholder  { color:#B3B3B3;	}
.place_B3B3B3:-moz-placeholder { color:#B3B3B3; }
.place_B3B3B3:-ms-placeholder { color:#B3B3B3; }

.place_B8B8B8::-webkit-input-placeholder{ color:#B8B8B8; }
.place_B8B8B8::-moz-placeholder  { color:#B8B8B8;	}
.place_B8B8B8:-moz-placeholder { color:#B8B8B8; }
.place_B8B8B8:-ms-placeholder { color:#B8B8B8; }

.place_737373::-webkit-input-placeholder{ color:#737373; }
.place_737373::-moz-placeholder  { color:#737373;	}
.place_737373:-moz-placeholder { color:#737373; }
.place_737373:-ms-placeholder { color:#737373; }

.place_B6B6B6::-webkit-input-placeholder{ color:#B6B6B6; }
.place_B6B6B6::-moz-placeholder  { color:#B6B6B6;	}
.place_B6B6B6:-moz-placeholder { color:#B6B6B6; }
.place_B6B6B6:-ms-placeholder { color:#B6B6B6; }

.place_999999::-webkit-input-placeholder{ color:#999; }
.place_999999::-moz-placeholder  { color:#999;	}
.place_999999:-moz-placeholder { color:#999; }
.place_999999:-ms-placeholder { color:#999; }

.place_f3f3f3::-webkit-input-placeholder{ color:#f3f3f3; }
.place_f3f3f3::-moz-placeholder  { color:#f3f3f3;	}
.place_f3f3f3:-moz-placeholder { color:#f3f3f3; }
.place_f3f3f3:-ms-placeholder { color:#f3f3f3; }

.place_fff::-webkit-input-placeholder{ color:#fff; }
.place_fff::-moz-placeholder  { color:#fff;	}
.place_fff:-moz-placeholder { color:#fff; }
.place_fff:-ms-placeholder { color:#fff; }

.place_272D34::-webkit-input-placeholder{ color:rgba(44,47,55,0.7); }
.place_272D34::-moz-placeholder  { color:rgba(44,47,55,0.7);}
.place_272D34:-moz-placeholder { color:rgba(44,47,55,0.7); }
.place_272D34:-ms-placeholder { color:rgba(44,47,55,0.7); }


.place_7C808B::-webkit-input-placeholder{ color:rgba(124,128,139,0.5); }
.place_7C808B::-moz-placeholder  { color:rgba(124,128,139,0.5);	}
.place_7C808B:-moz-placeholder { color:rgba(124,128,139,0.5); }
.place_7C808B:-ms-placeholder { color:rgba(124,128,139,0.5); } 

.place_404040::-webkit-input-placeholder{ color:#404040; }
.place_404040::-moz-placeholder  { color:#404040;	}
.place_404040:-moz-placeholder { color:#404040; }
.place_404040:-ms-placeholder { color:#404040; }

.place_abafb5::-webkit-input-placeholder{ color:#abafb5; }
.place_abafb5::-moz-placeholder  { color:#abafb5;	}
.place_abafb5:-moz-placeholder { color:#abafb5; }
.place_abafb5:-ms-placeholder { color:#abafb5; }

.place_b7b7b7::-webkit-input-placeholder{ color:#b7b7b7; }
.place_b7b7b7::-moz-placeholder  { color:#b7b7b7;	}
.place_b7b7b7:-moz-placeholder { color:#b7b7b7; }
.place_b7b7b7:-ms-placeholder { color:#b7b7b7; }

.place_808080::-webkit-input-placeholder{ color:#808080; }
.place_808080::-moz-placeholder  { color:#808080;	}
.place_808080:-moz-placeholder { color:#808080; }
.place_808080:-ms-placeholder { color:#808080; }

.place_B2B2B2::-webkit-input-placeholder{ color:rgba(178,178,178,0.67) }
.place_B2B2B2::-moz-placeholder  { color:rgba(178,178,178,0.67)	}
.place_B2B2B2:-moz-placeholder { color:rgba(178,178,178,0.67) }
.place_B2B2B2:-ms-placeholder { color:rgba(178,178,178,0.67) }



.radius3 {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}
.radius6 {
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
}

.radius10 {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}


.scale img {
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
}

.scale:hover img  {
	transform: scale(1.1); 
	-ms-transform: scale(1.1); 
	-moz-transform: scale(1.1); 
	-webkit-transform: scale(1.1); 
	-o-transform: scale(1.1); 
}


.flex_cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.flex_ct {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.flex {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.flex_center {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.flex_1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
}
.media_slider_wrap {
	position: relative;
	z-index: 99;
	overflow-x: scroll;
	overflow-y: hidden;
	width: 100%;
	padding-bottom: 3.4vw;
	-webkit-transform: translateZ(0px);
	transform: translateZ(0px);
	backface-visibility: hidden;
	-webkit-overflow-scrolling: touch;
}
.media_slider_wrap_item { 
		white-space: nowrap; 
} 
.media_slider_wrap::-webkit-scrollbar-track-piece {  
	background-color: rgba(0, 0, 0, 0);  
	border-left: 1px solid rgba(0, 0, 0, 0);  
}  
.media_slider_wrap::-webkit-scrollbar {  
	width: 6.77vw;  
	height: 6px;  
}  
.media_slider_wrap::-webkit-scrollbar-thumb {  
	background-color: rgba(0, 0, 0, 1);  
	background-clip: padding-box;  
	min-height: 6px;  
}  
.media_slider_wrap::-webkit-scrollbar-thumb:hover {  
	background-color: rgba(0, 0, 0, 1);  
}

.moveLeft span {
  position: relative;
  left: 0;
}
.moveLeft:hover span {
  position: relative;
  animation: moveLeft 0.8s linear 0.2s infinite alternate;
  -webkit-animation: moveLeft 0.8s linear 0.2s infinite alternate;
  transform-origin: top;
  -webkit-transform-origin: top;
}

/*  放大动画  */
@keyframes zoomIn {
  from { transform:scale(0.7) }
  to { transform:scale(1.2) }
}
@-webkit-keyframes  zoomIn {
  from { transform:scale(0.7) }
  to { transform:scale(1.2) }
}


/*  左右移动动画  */
@keyframes moveLeft {
  from { left:0 }
  to { left:10px }
}
@-webkit-keyframes moveLeft {
  from { left:0 }
  to { left:10px }
}

/*  转圈动画  */
@keyframes movePoint {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
@-webkit-keyframes movePoint {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}



/*  上下移动动画  */
@keyframes moveTop {
  from { top:0% }
  to { top:15px }
}
@-webkit-keyframes moveTop {
  from { top:0% }
  to { top:15px }
}

/*  上下移动动画  */
@keyframes moveTop1 {
  from { top:-8px ; opacity: 0.3;}
  to { top:8px ;opacity: 1;}
}
@-webkit-keyframes moveTop1 {
  from { top:-8px ; opacity: 0.3;}
  to { top:8px ;opacity: 1;}
}


@-webkit-keyframes returnToNormal {
  from {  opacity: 0;-webkit-transform: translate3d(0, 100%, 0);transform: translate3d(0, 100%, 0); }
  to { opacity: 1;-webkit-transform: none;transform: none; }
}

@keyframes returnToNormal {
  from { opacity: 0;-webkit-transform: translate3d(0, 100%, 0);transform: translate3d(0, 100%, 0); }
  to { opacity: 1;-webkit-transform: none;transform: none; }
}

@keyframes heartbeat {
  50% {
    transform: scale(1.05);
  }
}
.shake_rotate:hover { 
  -webkit-animation-name: shake-rotate; 
  -ms-animation-name: shake-rotate; 
  animation-name: shake-rotate; 
  -webkit-animation-duration: 1000ms; 
  -ms-animation-duration: 1000ms; 
  animation-duration: 1000ms; 
  -webkit-animation-iteration-count: infinite; 
  -ms-animation-iteration-count: infinite; 
  animation-iteration-count: infinite; 
  -webkit-animation-timing-function: ease-in-out; 
  -ms-animation-timing-function: ease-in-out; 
  animation-timing-function: ease-in-out; 
  -webkit-animation-delay: 0s; 
  -ms-animation-delay: 0s; 
  animation-delay: 0s; 
  -webkit-animation-play-state: running; 
  -ms-animation-play-state: running; animation-play-state: running; 
}
@-webkit-keyframes shake-rotate { 
  0% { -webkit-transform: translate(0px, 0px) rotate(0deg); }
  2% { -webkit-transform: translate(0px, 0px) rotate(4.5deg); }
  4% { -webkit-transform: translate(0px, 0px) rotate(-5.5deg); }
  6% { -webkit-transform: translate(0px, 0px) rotate(3.5deg); }
  8% { -webkit-transform: translate(0px, 0px) rotate(-5.5deg); }
  10% { -webkit-transform: translate(0px, 0px) rotate(2.5deg); }
  12% { -webkit-transform: translate(0px, 0px) rotate(-0.5deg); }
  14% { -webkit-transform: translate(0px, 0px) rotate(-3.5deg); }
  16% { -webkit-transform: translate(0px, 0px) rotate(4.5deg); }
  18% { -webkit-transform: translate(0px, 0px) rotate(-2.5deg); }
  20% { -webkit-transform: translate(0px, 0px) rotate(-5.5deg); }
  22% { -webkit-transform: translate(0px, 0px) rotate(-2.5deg); }
  24% { -webkit-transform: translate(0px, 0px) rotate(4.5deg); }
  26% { -webkit-transform: translate(0px, 0px) rotate(-4.5deg); }
  28% { -webkit-transform: translate(0px, 0px) rotate(2.5deg); }
  30% { -webkit-transform: translate(0px, 0px) rotate(-7.5deg); }
  32% { -webkit-transform: translate(0px, 0px) rotate(-5.5deg); }
  34% { -webkit-transform: translate(0px, 0px) rotate(-3.5deg); }
  36% { -webkit-transform: translate(0px, 0px) rotate(5.5deg); }
  38% { -webkit-transform: translate(0px, 0px) rotate(-5.5deg); }
  40% { -webkit-transform: translate(0px, 0px) rotate(-4.5deg); }
  42% { -webkit-transform: translate(0px, 0px) rotate(6.5deg); }
  44% { -webkit-transform: translate(0px, 0px) rotate(0.5deg); }
  46% { -webkit-transform: translate(0px, 0px) rotate(4.5deg); }
  48% { -webkit-transform: translate(0px, 0px) rotate(-6.5deg); }
  50% { -webkit-transform: translate(0px, 0px) rotate(3.5deg); }
  52% { -webkit-transform: translate(0px, 0px) rotate(-7.5deg); }
  54% { -webkit-transform: translate(0px, 0px) rotate(-0.5deg); }
  56% { -webkit-transform: translate(0px, 0px) rotate(-1.5deg); }
  58% { -webkit-transform: translate(0px, 0px) rotate(-2.5deg); }
  60% { -webkit-transform: translate(0px, 0px) rotate(3.5deg); }
  62% { -webkit-transform: translate(0px, 0px) rotate(1.5deg); }
  64% { -webkit-transform: translate(0px, 0px) rotate(-3.5deg); }
  66% { -webkit-transform: translate(0px, 0px) rotate(0.5deg); }
  68% { -webkit-transform: translate(0px, 0px) rotate(-4.5deg); }
  70% { -webkit-transform: translate(0px, 0px) rotate(5.5deg); }
  72% { -webkit-transform: translate(0px, 0px) rotate(-3.5deg); }
  74% { -webkit-transform: translate(0px, 0px) rotate(-4.5deg); }
  76% { -webkit-transform: translate(0px, 0px) rotate(6.5deg); }
  78% { -webkit-transform: translate(0px, 0px) rotate(0.5deg); }
  80% { -webkit-transform: translate(0px, 0px) rotate(-2.5deg); }
  82% { -webkit-transform: translate(0px, 0px) rotate(-7.5deg); }
  84% { -webkit-transform: translate(0px, 0px) rotate(-7.5deg); }
  86% { -webkit-transform: translate(0px, 0px) rotate(-0.5deg); }
  88% { -webkit-transform: translate(0px, 0px) rotate(-4.5deg); }
  90% { -webkit-transform: translate(0px, 0px) rotate(6.5deg); }
  92% { -webkit-transform: translate(0px, 0px) rotate(-2.5deg); }
  94% { -webkit-transform: translate(0px, 0px) rotate(-5.5deg); }
  96% { -webkit-transform: translate(0px, 0px) rotate(4.5deg); }
  98% { -webkit-transform: translate(0px, 0px) rotate(-3.5deg); } 
}
@-ms-keyframes shake-rotate { 
  0% { -ms-transform: translate(0px, 0px) rotate(0deg); }
  2% { -ms-transform: translate(0px, 0px) rotate(-3.5deg); }
  4% { -ms-transform: translate(0px, 0px) rotate(1.5deg); }
  6% { -ms-transform: translate(0px, 0px) rotate(-1.5deg); }
  8% { -ms-transform: translate(0px, 0px) rotate(-7.5deg); }
  10% { -ms-transform: translate(0px, 0px) rotate(-1.5deg); }
  12% { -ms-transform: translate(0px, 0px) rotate(-1.5deg); }
  14% { -ms-transform: translate(0px, 0px) rotate(-0.5deg); }
  16% { -ms-transform: translate(0px, 0px) rotate(-0.5deg); }
  18% { -ms-transform: translate(0px, 0px) rotate(1.5deg); }
  20% { -ms-transform: translate(0px, 0px) rotate(-6.5deg); }
  22% { -ms-transform: translate(0px, 0px) rotate(-3.5deg); }
  24% { -ms-transform: translate(0px, 0px) rotate(-6.5deg); }
  26% { -ms-transform: translate(0px, 0px) rotate(-4.5deg); }
  28% { -ms-transform: translate(0px, 0px) rotate(-4.5deg); }
  30% { -ms-transform: translate(0px, 0px) rotate(-2.5deg); }
  32% { -ms-transform: translate(0px, 0px) rotate(-5.5deg); }
  34% { -ms-transform: translate(0px, 0px) rotate(-4.5deg); }
  36% { -ms-transform: translate(0px, 0px) rotate(4.5deg); }
  38% { -ms-transform: translate(0px, 0px) rotate(0.5deg); }
  40% { -ms-transform: translate(0px, 0px) rotate(-6.5deg); }
  42% { -ms-transform: translate(0px, 0px) rotate(2.5deg); }
  44% { -ms-transform: translate(0px, 0px) rotate(-2.5deg); }
  46% { -ms-transform: translate(0px, 0px) rotate(0.5deg); }
  48% { -ms-transform: translate(0px, 0px) rotate(6.5deg); }
  50% { -ms-transform: translate(0px, 0px) rotate(0.5deg); }
  52% { -ms-transform: translate(0px, 0px) rotate(6.5deg); }
  54% { -ms-transform: translate(0px, 0px) rotate(2.5deg); }
  56% { -ms-transform: translate(0px, 0px) rotate(-1.5deg); }
  58% { -ms-transform: translate(0px, 0px) rotate(-1.5deg); }
  60% { -ms-transform: translate(0px, 0px) rotate(3.5deg); }
  62% { -ms-transform: translate(0px, 0px) rotate(-4.5deg); }
  64% { -ms-transform: translate(0px, 0px) rotate(2.5deg); }
  66% { -ms-transform: translate(0px, 0px) rotate(-4.5deg); }
  68% { -ms-transform: translate(0px, 0px) rotate(6.5deg); }
  70% { -ms-transform: translate(0px, 0px) rotate(-3.5deg); }
  72% { -ms-transform: translate(0px, 0px) rotate(-6.5deg); }
  74% { -ms-transform: translate(0px, 0px) rotate(-6.5deg); }
  76% { -ms-transform: translate(0px, 0px) rotate(6.5deg); }
  78% { -ms-transform: translate(0px, 0px) rotate(6.5deg); }
  80% { -ms-transform: translate(0px, 0px) rotate(-5.5deg); }
  82% { -ms-transform: translate(0px, 0px) rotate(-1.5deg); }
  84% { -ms-transform: translate(0px, 0px) rotate(-4.5deg); }
  86% { -ms-transform: translate(0px, 0px) rotate(5.5deg); }
  88% { -ms-transform: translate(0px, 0px) rotate(6.5deg); }
  90% { -ms-transform: translate(0px, 0px) rotate(-6.5deg); }
  92% { -ms-transform: translate(0px, 0px) rotate(-6.5deg); }
  94% { -ms-transform: translate(0px, 0px) rotate(6.5deg); }
  96% { -ms-transform: translate(0px, 0px) rotate(-5.5deg); }
  98% { -ms-transform: translate(0px, 0px) rotate(-1.5deg); } 
}

@keyframes shake-rotate { 
  0% { transform: translate(0px, 0px) rotate(0deg); }
  2% { transform: translate(0px, 0px) rotate(1.5deg); }
  4% { transform: translate(0px, 0px) rotate(-7.5deg); }
  6% { transform: translate(0px, 0px) rotate(-2.5deg); }
  8% { transform: translate(0px, 0px) rotate(6.5deg); }
  10% { transform: translate(0px, 0px) rotate(-4.5deg); }
  12% { transform: translate(0px, 0px) rotate(0.5deg); }
  14% { transform: translate(0px, 0px) rotate(-6.5deg); }
  16% { transform: translate(0px, 0px) rotate(1.5deg); }
  18% { transform: translate(0px, 0px) rotate(-2.5deg); }
  20% { transform: translate(0px, 0px) rotate(1.5deg); }
  22% { transform: translate(0px, 0px) rotate(1.5deg); }
  24% { transform: translate(0px, 0px) rotate(2.5deg); }
  26% { transform: translate(0px, 0px) rotate(6.5deg); }
  28% { transform: translate(0px, 0px) rotate(2.5deg); }
  30% { transform: translate(0px, 0px) rotate(1.5deg); }
  32% { transform: translate(0px, 0px) rotate(-4.5deg); }
  34% { transform: translate(0px, 0px) rotate(-3.5deg); }
  36% { transform: translate(0px, 0px) rotate(-0.5deg); }
  38% { transform: translate(0px, 0px) rotate(4.5deg); }
  40% { transform: translate(0px, 0px) rotate(4.5deg); }
  42% { transform: translate(0px, 0px) rotate(-0.5deg); }
  44% { transform: translate(0px, 0px) rotate(1.5deg); }
  46% { transform: translate(0px, 0px) rotate(-0.5deg); }
  48% { transform: translate(0px, 0px) rotate(-7.5deg); }
  50% { transform: translate(0px, 0px) rotate(3.5deg); }
  52% { transform: translate(0px, 0px) rotate(-5.5deg); }
  54% { transform: translate(0px, 0px) rotate(-6.5deg); }
  56% { transform: translate(0px, 0px) rotate(-0.5deg); }
  58% { transform: translate(0px, 0px) rotate(3.5deg); }
  60% { transform: translate(0px, 0px) rotate(-2.5deg); }
  62% { transform: translate(0px, 0px) rotate(3.5deg); }
  64% { transform: translate(0px, 0px) rotate(6.5deg); }
  66% { transform: translate(0px, 0px) rotate(-6.5deg); }
  68% { transform: translate(0px, 0px) rotate(-2.5deg); }
  70% { transform: translate(0px, 0px) rotate(-3.5deg); }
  72% { transform: translate(0px, 0px) rotate(-6.5deg); }
  74% { transform: translate(0px, 0px) rotate(-5.5deg); }
  76% { transform: translate(0px, 0px) rotate(1.5deg); }
  78% { transform: translate(0px, 0px) rotate(-1.5deg); }
  80% { transform: translate(0px, 0px) rotate(3.5deg); }
  82% { transform: translate(0px, 0px) rotate(1.5deg); }
  84% { transform: translate(0px, 0px) rotate(-7.5deg); }
  86% { transform: translate(0px, 0px) rotate(-0.5deg); }
  88% { transform: translate(0px, 0px) rotate(0.5deg); }
  90% { transform: translate(0px, 0px) rotate(-3.5deg); }
  92% { transform: translate(0px, 0px) rotate(-4.5deg); }
  94% { transform: translate(0px, 0px) rotate(2.5deg); }
  96% { transform: translate(0px, 0px) rotate(2.5deg); }
  98% { transform: translate(0px, 0px) rotate(-2.5deg); } 
}

/* @group Base */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  zoom: 1;
  *display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.chosen-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  width: 100%;
  border: 1px solid #ddd;
  border-top: 0;
  background: #fff;
}
.chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
}
.chosen-container a {
  cursor: pointer;
}

/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  font-size: 20px;
  color: #7B7B7B;
  padding:0;
  height: 46px;
  border-bottom: 1px solid #cecece;
  border-radius: 0px;
  background-color: transparent;
  background-clip: padding-box;
  text-decoration: none;
  white-space: nowrap;
  line-height: 45px;
}
.chosen-container-single .chosen-default {
  color:#a7a7a7;
}
.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px;
}
.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 28px;
  height: 100%;
}
.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../images/select_icon.png') no-repeat center center;
}
.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}
.chosen-container-single .chosen-search input[type="text"] {
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #ddd;
  background: white url('https://dqkorv1whlxqe.cloudfront.net/wp-content/themes/tbxn/images/chosen-sprite.png') no-repeat 100% -20px;
  background: url('https://dqkorv1whlxqe.cloudfront.net/wp-content/themes/tbxn/images/chosen-sprite.png') no-repeat 100% -20px;
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
/*.chosen-container-single .chosen-search input[type="text"]:focus{
  border:1px solid #1bbfd5;
}*/
.chosen-container-single .chosen-drop {
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px;
}

/* @end */
/* @group Results */
.chosen-container .chosen-results {
  color: #444;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 16px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}
.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 10px 15px;
  list-style: none;
  line-height: 20px;
  word-wrap: break-word;
  -webkit-touch-callout: none;
  font-size: 18px;
  color:#000
}
.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}
.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}
.chosen-container .chosen-results li.highlighted {
  background-color: #001EA0;
  color: #fff;
}
.chosen-container .chosen-results li.no-results {
  color: #777;
  display: list-item;
  background: #f4f4f4;
}
.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default;
}
.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}
.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}

/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 5px;
  width: 100%;
  height: auto !important;
  height: 1%;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: text;
}
.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}
.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 0;
  height: 25px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none;
  color: #999;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 5px 3px 0;
  padding: 3px 20px 3px 5px;
  border: 1px solid #aaa;
  max-width: 100%;
  border-radius: 3px;
  background-color: #ddd;
  background-size: 100% 19px;
  background-repeat: repeat-x;
  background-clip: padding-box;
  /*box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);*/
  color: #333;
  line-height: 13px;
  cursor: default;
}
.chosen-container-multi .chosen-choices li.search-choice span {
  word-wrap: break-word;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  /*background: url('chosen-sprite.png') -42px 1px no-repeat;*/
  font-size: 1px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ddd;
  background-color: #e4e4e4;
  color: #666;
}
.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #ddd;
}
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0;
}
.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default;
}

/* @end */
/* @group Active  */
.chosen-container-active .chosen-single {
  border: 0;
  border-bottom: 1px solid #EF0A05;
  /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);*/
}
.chosen-container-active.chosen-with-drop .chosen-single {
  border-bottom: 1px solid #EF0A05;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 1px 0 #fff inset;
}
.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent;
}
.chosen-container-active .chosen-choices {
  border: 1px solid #ddd;
  /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);*/
}
.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #222 !important;
}

/* @end */
/* @group Disabled Support */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}
.chosen-disabled .chosen-single {
  cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}

/* @end */
/* @group Right to Left */
.chosen-rtl {
  text-align: right;
}
.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0;
}
.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}
.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px;
}
.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px;
}
.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px;
}
.chosen-rtl .chosen-choices li {
  float: right;
}
.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl;
}
.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}
.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
  left: 9999px;
}
.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}
.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none;
}
.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  background: white url('https://dqkorv1whlxqe.cloudfront.net/wp-content/themes/tbxn/images/chosen-sprite.png') no-repeat -30px -20px;
  background: url('https://dqkorv1whlxqe.cloudfront.net/wp-content/themes/tbxn/images/chosen-sprite.png') no-repeat -30px -20px;
  direction: rtl;
}
/*.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px;
}
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px;
}*/

/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url('https://dqkorv1whlxqe.cloudfront.net/wp-content/themes/tbxn/images/chosen-sprite@2x.png') !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important;

  }
}
/* @end */



/*************  特殊字体   ***********/
@font-face {
  font-family: 'popLight';
  src: url('../fonts/Poppins-Light.eot');
  src: local('popLight Regular'),
	local('popLight'),
	url('../fonts/Poppins-Light.woff') format('woff'),
	url('../fonts/Poppins-Light.ttf') format('truetype'),
	url('../fonts/Poppins-Light.svg') format('svg');
}
@font-face {
  font-family: 'popR';
  src: url('../fonts/Poppins-Regular.eot');
  src: local('popR Regular'),
	local('popR'),
	url('../fonts/Poppins-Regular.woff') format('woff'),
	url('../fonts/Poppins-Regular.ttf') format('truetype'),
	url('../fonts/Poppins-Regular.svg') format('svg');
}
@font-face {
  font-family: 'popMedium';
  src: url('../fonts/Poppins-Medium.eot');
  src: local('popMedium Regular'),
	local('popMedium'),
	url('../fonts/Poppins-Medium.woff') format('woff'),
	url('../fonts/Poppins-Medium.ttf') format('truetype'),
	url('../fonts/Poppins-Medium.svg') format('svg');
}

@font-face {
  font-family: 'popBold';
  src: url('../fonts/Poppins.eot');
  src: local('popBold Regular'),
	local('popBold'),
	url('../fonts/Poppins.woff') format('woff'),
	url('../fonts/Poppins.ttf') format('truetype'),
	url('../fonts/Poppins.svg') format('svg');
}

@font-face {
  font-family: 'EquinoxTrial';
  src: url('../fonts/EquinoxTrial.eot');
  src: local('EquinoxTrial Regular'),
	local('EquinoxTrial'),
	url('../fonts/EquinoxTrial.woff') format('woff'),
	url('../fonts/EquinoxTrial.ttf') format('truetype'),
	url('../fonts/EquinoxTrial.svg') format('svg');
}

@font-face {
  font-family: 'KindelSerif';
  src: url('../fonts/KindelSerifRegular.eot');
  src: local('KindelSerif Regular'),
	local('KindelSerif'),
	url('../fonts/KindelSerifRegular.woff') format('woff'),
	url('../fonts/KindelSerifRegular.ttf') format('truetype'),
	url('../fonts/KindelSerifRegular.svg') format('svg');
}

@font-face {
  font-family: 'MADECanvas';
  src: url('../fonts/MADECanvas.eot');
  src: local('MADECanvas Regular'),
	local('MADECanvas'),
	url('../fonts/MADECanvas.woff') format('woff'),
	url('../fonts/MADECanvas.ttf') format('truetype'),
	url('../fonts/MADECanvas.svg') format('svg');
}









@font-face { font-family:'Glyphicons Halflings'; src:url('https://dqkorv1whlxqe.cloudfront.net/wp-content/themes/tbxn/fonts/glyphicons-halflings-regular.eot');src:url('https://dqkorv1whlxqe.cloudfront.net/wp-content/themes/tbxn/fonts/glyphicons-halflings-regular.eot?') format('embedded-opentype'),url('https://dqkorv1whlxqe.cloudfront.net/wp-content/themes/tbxn/fonts/glyphicons-halflings-regular.woff2') format('woff2'),url('https://dqkorv1whlxqe.cloudfront.net/wp-content/themes/tbxn/fonts/glyphicons-halflings-regular.woff') format('woff'),url('https://dqkorv1whlxqe.cloudfront.net/wp-content/themes/tbxn/fonts/glyphicons-halflings-regular.ttf') format('truetype'),url('https://dqkorv1whlxqe.cloudfront.net/wp-content/themes/tbxn/fonts/glyphicons-halflings-regular.svg') format('svg')}
.glyphicon { position:relative;top:1px;display:inline-block;font-family:'Glyphicons Halflings';font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.glyphicon-asterisk:before{content:"\2a"}.glyphicon-plus:before{content:"\2b"}.glyphicon-euro:before,.glyphicon-eur:before{content:"\20ac"}.glyphicon-minus:before{content:"\2212"}.glyphicon-cloud:before{content:"\2601"}.glyphicon-envelope:before{content:"\2709"}.glyphicon-pencil:before{content:"\270f"}.glyphicon-glass:before{content:"\e001"}.glyphicon-music:before{content:"\e002"}.glyphicon-search:before{content:"\e003"}.glyphicon-heart:before{content:"\e005"}.glyphicon-star:before{content:"\e006"}.glyphicon-star-empty:before{content:"\e007"}.glyphicon-user:before{content:"\e008"}.glyphicon-film:before{content:"\e009"}.glyphicon-th-large:before{content:"\e010"}.glyphicon-th:before{content:"\e011"}.glyphicon-th-list:before{content:"\e012"}.glyphicon-ok:before{content:"\e013"}.glyphicon-remove:before{content:"\e014"}.glyphicon-zoom-in:before{content:"\e015"}.glyphicon-zoom-out:before{content:"\e016"}.glyphicon-off:before{content:"\e017"}.glyphicon-signal:before{content:"\e018"}.glyphicon-cog:before{content:"\e019"}.glyphicon-trash:before{content:"\e020"}.glyphicon-home:before{content:"\e021"}.glyphicon-file:before{content:"\e022"}.glyphicon-time:before{content:"\e023"}.glyphicon-road:before{content:"\e024"}.glyphicon-download-alt:before{content:"\e025"}.glyphicon-download:before{content:"\e026"}.glyphicon-upload:before{content:"\e027"}.glyphicon-inbox:before{content:"\e028"}.glyphicon-play-circle:before{content:"\e029"}.glyphicon-repeat:before{content:"\e030"}.glyphicon-refresh:before{content:"\e031"}.glyphicon-list-alt:before{content:"\e032"}.glyphicon-lock:before{content:"\e033"}.glyphicon-flag:before{content:"\e034"}.glyphicon-headphones:before{content:"\e035"}.glyphicon-volume-off:before{content:"\e036"}.glyphicon-volume-down:before{content:"\e037"}.glyphicon-volume-up:before{content:"\e038"}.glyphicon-qrcode:before{content:"\e039"}.glyphicon-barcode:before{content:"\e040"}.glyphicon-tag:before{content:"\e041"}.glyphicon-tags:before{content:"\e042"}.glyphicon-book:before{content:"\e043"}.glyphicon-bookmark:before{content:"\e044"}.glyphicon-print:before{content:"\e045"}.glyphicon-camera:before{content:"\e046"}.glyphicon-font:before{content:"\e047"}.glyphicon-bold:before{content:"\e048"}.glyphicon-italic:before{content:"\e049"}.glyphicon-text-height:before{content:"\e050"}.glyphicon-text-width:before{content:"\e051"}.glyphicon-align-left:before{content:"\e052"}.glyphicon-align-center:before{content:"\e053"}.glyphicon-align-right:before{content:"\e054"}.glyphicon-align-justify:before{content:"\e055"}.glyphicon-list:before{content:"\e056"}.glyphicon-indent-left:before{content:"\e057"}.glyphicon-indent-right:before{content:"\e058"}.glyphicon-facetime-video:before{content:"\e059"}.glyphicon-picture:before{content:"\e060"}.glyphicon-map-marker:before{content:"\e062"}.glyphicon-adjust:before{content:"\e063"}.glyphicon-tint:before{content:"\e064"}.glyphicon-edit:before{content:"\e065"}.glyphicon-share:before{content:"\e066"}.glyphicon-check:before{content:"\e067"}.glyphicon-move:before{content:"\e068"}.glyphicon-step-backward:before{content:"\e069"}.glyphicon-fast-backward:before{content:"\e070"}.glyphicon-backward:before{content:"\e071"}.glyphicon-play:before{content:"\e072"}.glyphicon-pause:before{content:"\e073"}.glyphicon-stop:before{content:"\e074"}.glyphicon-forward:before{content:"\e075"}.glyphicon-fast-forward:before{content:"\e076"}.glyphicon-step-forward:before{content:"\e077"}.glyphicon-eject:before{content:"\e078"}.glyphicon-chevron-left:before{content:"\e079"}.glyphicon-chevron-right:before{content:"\e080"}.glyphicon-plus-sign:before{content:"\e081"}.glyphicon-minus-sign:before{content:"\e082"}.glyphicon-remove-sign:before{content:"\e083"}.glyphicon-ok-sign:before{content:"\e084"}.glyphicon-question-sign:before{content:"\e085"}.glyphicon-info-sign:before{content:"\e086"}.glyphicon-screenshot:before{content:"\e087"}.glyphicon-remove-circle:before{content:"\e088"}.glyphicon-ok-circle:before{content:"\e089"}.glyphicon-ban-circle:before{content:"\e090"}.glyphicon-arrow-left:before{content:"\e091"}.glyphicon-arrow-right:before{content:"\e092"}.glyphicon-arrow-up:before{content:"\e093"}.glyphicon-arrow-down:before{content:"\e094"}.glyphicon-share-alt:before{content:"\e095"}.glyphicon-resize-full:before{content:"\e096"}.glyphicon-resize-small:before{content:"\e097"}.glyphicon-exclamation-sign:before{content:"\e101"}.glyphicon-gift:before{content:"\e102"}.glyphicon-leaf:before{content:"\e103"}.glyphicon-fire:before{content:"\e104"}.glyphicon-eye-open:before{content:"\e105"}.glyphicon-eye-close:before{content:"\e106"}.glyphicon-warning-sign:before{content:"\e107"}.glyphicon-plane:before{content:"\e108"}.glyphicon-calendar:before{content:"\e109"}.glyphicon-random:before{content:"\e110"}.glyphicon-comment:before{content:"\e111"}.glyphicon-magnet:before{content:"\e112"}.glyphicon-chevron-up:before{content:"\e113"}.glyphicon-chevron-down:before{content:"\e114"}.glyphicon-retweet:before{content:"\e115"}.glyphicon-shopping-cart:before{content:"\e116"}.glyphicon-folder-close:before{content:"\e117"}.glyphicon-folder-open:before{content:"\e118"}.glyphicon-resize-vertical:before{content:"\e119"}.glyphicon-resize-horizontal:before{content:"\e120"}.glyphicon-hdd:before{content:"\e121"}.glyphicon-bullhorn:before{content:"\e122"}.glyphicon-bell:before{content:"\e123"}.glyphicon-certificate:before{content:"\e124"}.glyphicon-thumbs-up:before{content:"\e125"}.glyphicon-thumbs-down:before{content:"\e126"}.glyphicon-hand-right:before{content:"\e127"}.glyphicon-hand-left:before{content:"\e128"}.glyphicon-hand-up:before{content:"\e129"}.glyphicon-hand-down:before{content:"\e130"}.glyphicon-circle-arrow-right:before{content:"\e131"}.glyphicon-circle-arrow-left:before{content:"\e132"}.glyphicon-circle-arrow-up:before{content:"\e133"}.glyphicon-circle-arrow-down:before{content:"\e134"}.glyphicon-globe:before{content:"\e135"}.glyphicon-wrench:before{content:"\e136"}.glyphicon-tasks:before{content:"\e137"}.glyphicon-filter:before{content:"\e138"}.glyphicon-briefcase:before{content:"\e139"}.glyphicon-fullscreen:before{content:"\e140"}.glyphicon-dashboard:before{content:"\e141"}.glyphicon-paperclip:before{content:"\e142"}.glyphicon-heart-empty:before{content:"\e143"}.glyphicon-link:before{content:"\e144"}.glyphicon-phone:before{content:"\e145"}.glyphicon-pushpin:before{content:"\e146"}.glyphicon-usd:before{content:"\e148"}.glyphicon-gbp:before{content:"\e149"}.glyphicon-sort:before{content:"\e150"}.glyphicon-sort-by-alphabet:before{content:"\e151"}.glyphicon-sort-by-alphabet-alt:before{content:"\e152"}.glyphicon-sort-by-order:before{content:"\e153"}.glyphicon-sort-by-order-alt:before{content:"\e154"}.glyphicon-sort-by-attributes:before{content:"\e155"}.glyphicon-sort-by-attributes-alt:before{content:"\e156"}.glyphicon-unchecked:before{content:"\e157"}.glyphicon-expand:before{content:"\e158"}.glyphicon-collapse-down:before{content:"\e159"}.glyphicon-collapse-up:before{content:"\e160"}.glyphicon-log-in:before{content:"\e161"}.glyphicon-flash:before{content:"\e162"}.glyphicon-log-out:before{content:"\e163"}.glyphicon-new-window:before{content:"\e164"}.glyphicon-record:before{content:"\e165"}.glyphicon-save:before{content:"\e166"}.glyphicon-open:before{content:"\e167"}.glyphicon-saved:before{content:"\e168"}.glyphicon-import:before{content:"\e169"}.glyphicon-export:before{content:"\e170"}.glyphicon-send:before{content:"\e171"}.glyphicon-floppy-disk:before{content:"\e172"}.glyphicon-floppy-saved:before{content:"\e173"}.glyphicon-floppy-remove:before{content:"\e174"}.glyphicon-floppy-save:before{content:"\e175"}.glyphicon-floppy-open:before{content:"\e176"}.glyphicon-credit-card:before{content:"\e177"}.glyphicon-transfer:before{content:"\e178"}.glyphicon-cutlery:before{content:"\e179"}.glyphicon-header:before{content:"\e180"}.glyphicon-compressed:before{content:"\e181"}.glyphicon-earphone:before{content:"\e182"}.glyphicon-phone-alt:before{content:"\e183"}.glyphicon-tower:before{content:"\e184"}.glyphicon-stats:before{content:"\e185"}.glyphicon-sd-video:before{content:"\e186"}.glyphicon-hd-video:before{content:"\e187"}.glyphicon-subtitles:before{content:"\e188"}.glyphicon-sound-stereo:before{content:"\e189"}.glyphicon-sound-dolby:before{content:"\e190"}.glyphicon-sound-5-1:before{content:"\e191"}.glyphicon-sound-6-1:before{content:"\e192"}.glyphicon-sound-7-1:before{content:"\e193"}.glyphicon-copyright-mark:before{content:"\e194"}.glyphicon-registration-mark:before{content:"\e195"}.glyphicon-cloud-download:before{content:"\e197"}.glyphicon-cloud-upload:before{content:"\e198"}.glyphicon-tree-conifer:before{content:"\e199"}.glyphicon-tree-deciduous:before{content:"\e200"}.glyphicon-cd:before{content:"\e201"}.glyphicon-save-file:before{content:"\e202"}.glyphicon-open-file:before{content:"\e203"}.glyphicon-level-up:before{content:"\e204"}.glyphicon-copy:before{content:"\e205"}.glyphicon-paste:before{content:"\e206"}.glyphicon-alert:before{content:"\e209"}.glyphicon-equalizer:before{content:"\e210"}.glyphicon-king:before{content:"\e211"}.glyphicon-queen:before{content:"\e212"}.glyphicon-pawn:before{content:"\e213"}.glyphicon-bishop:before{content:"\e214"}.glyphicon-knight:before{content:"\e215"}.glyphicon-baby-formula:before{content:"\e216"}.glyphicon-tent:before{content:"\26fa"}.glyphicon-blackboard:before{content:"\e218"}.glyphicon-bed:before{content:"\e219"}.glyphicon-apple:before{content:"\f8ff"}.glyphicon-erase:before{content:"\e221"}.glyphicon-hourglass:before{content:"\231b"}.glyphicon-lamp:before{content:"\e223"}.glyphicon-duplicate:before{content:"\e224"}.glyphicon-piggy-bank:before{content:"\e225"}.glyphicon-scissors:before{content:"\e226"}.glyphicon-bitcoin:before{content:"\e227"}.glyphicon-btc:before{content:"\e227"}.glyphicon-xbt:before{content:"\e227"}.glyphicon-yen:before{content:"\00a5"}.glyphicon-jpy:before{content:"\00a5"}.glyphicon-ruble:before{content:"\20bd"}.glyphicon-rub:before{content:"\20bd"}.glyphicon-scale:before{content:"\e230"}.glyphicon-ice-lolly:before{content:"\e231"}.glyphicon-ice-lolly-tasted:before{content:"\e232"}.glyphicon-education:before{content:"\e233"}.glyphicon-option-horizontal:before{content:"\e234"}.glyphicon-option-vertical:before{content:"\e235"}.glyphicon-menu-hamburger:before{content:"\e236"}.glyphicon-modal-window:before{content:"\e237"}.glyphicon-oil:before{content:"\e238"}.glyphicon-grain:before{content:"\e239"}.glyphicon-sunglasses:before{content:"\e240"}.glyphicon-text-size:before{content:"\e241"}.glyphicon-text-color:before{content:"\e242"}.glyphicon-text-background:before{content:"\e243"}.glyphicon-object-align-top:before{content:"\e244"}.glyphicon-object-align-bottom:before{content:"\e245"}.glyphicon-object-align-horizontal:before{content:"\e246"}.glyphicon-object-align-left:before{content:"\e247"}.glyphicon-object-align-vertical:before{content:"\e248"}.glyphicon-object-align-right:before{content:"\e249"}.glyphicon-triangle-right:before{content:"\e250"}.glyphicon-triangle-left:before{content:"\e251"}.glyphicon-triangle-bottom:before{content:"\e252"}.glyphicon-triangle-top:before{content:"\e253"}.glyphicon-console:before{content:"\e254"}.glyphicon-superscript:before{content:"\e255"}.glyphicon-subscript:before{content:"\e256"}.glyphicon-menu-left:before{content:"\e257"}.glyphicon-menu-right:before{content:"\e258"}.glyphicon-menu-down:before{content:"\e259"}.glyphicon-menu-up:before{content:"\e260"}